*{
    margin: 0;
    padding: 0;
}

p:hover{
    background-color: aqua;

}

.container{
    width: 70%;
    height: 70%;
    padding: 2em;
    margin-left: 200px;
    
}

.box-1{
    background-color: brown;
    
 
}

