* {
    margin: 0;
    padding: 0;
}




.container {
    width: 70%;
    height: 70%;
    padding: 2em;
    margin-left: 250px;

}




body {
    background-image: url('parede.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {

    margin-left: 40%;
    font-size: 200pt;
}

h2 {
    color: white;
}

.box {
    text-align: center;
    background-color: #c1c1c1;
    border-right: 5px #C1C2BC solid;
    border-top: 5px #C1C2BC solid;
    border-bottom: 5px #C1C2BC solid;
    border-left: 5px #C1C2BC solid;
    font-family: initial;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box-1 {
    background-color: #c1c1c1;
    border-right: 5px #C1C2BC solid;
    border-top: 5px #C1C2BC solid;
    border-bottom: 5px #C1C2BC solid;
    border-left: 5px #C1C2BC solid;
    margin-bottom: 400px;
    padding-bottom: 37px;
    padding-right: 28px;
    margin: 20px;
    font-family: fantasy;
    line-height: 31px;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#first {
    float: left;
}

.container .box-1 .first {
    margin: 15px;


}

.btn {
    background-color: orange;
    color: black;
    padding: 5px 10px;
    border-top: 2px black solid;
    border-right: 2px black solid;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    text-decoration: none;
    border-radius: 10px;

}

.btn:hover {
    background-color: green;
}



.p {
    text-align: center;


}

img {
    width: 300px;
}


.box-2 {
    background-color: #c1c1c1;
    border-right: 5px #C1C2BC solid;
    border-top: 5px #C1C2BC solid;
    border-bottom: 5px #C1C2BC solid;
    border-left: 5px #C1C2BC solid;
    margin-bottom: 400px;
    padding-bottom: 2%;
    margin: 20px;
    font-family: fantasy;
    line-height: 75px;
    font-size: 17pt;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

iframe {
    float: left;
}


.box-3 {
    background-color: black;
    background-position: center;
    color: white;

    margin: 13px;
    padding: 10px;
    margin: 20px;
    font-family: sans-serif;
    line-height: 31px;
    float: left;
    text-align: center;
    background-color: black;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section {
    background-color: #314a20;
    border: 1px yellow solid;

}


.segundo:hover {
    background-color: blue;
}

.final {
    background-color: #c1c1c1;
    border-right: 5px #C1C2BC solid;
    border-top: 5px #C1C2BC solid;
    border-bottom: 5px #C1C2BC solid;
    border-left: 5px #C1C2BC solid;
    text-align: center;
    margin-top: 60%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}