@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    border: none;
    top: 0;
}

body {
    background-color: black;
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;
    padding: 2px 2px;
}

h1 {
    color: white;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 30px;
    text-shadow: 3px 3px 5px yellow;


}

a {
    text-decoration: none;
    color: black;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.container {
    width: 95%;
    margin: 20px 30px;
}

.box-1 {
    background-image: url('pistols.jpg');
    color: rgb(193, 201, 90);
    background-position: top;
    font-weight: bold;


    border-right: 5px rgb(227, 243, 4) solid;
    border-left: 5px rgb(227, 243, 4) solid;
    border-top: 5px rgb(227, 243, 4)solid;
    border-bottom: 5px rgb(227, 243, 4) solid;
    border-width: 6px;
    border-bottom-width: 10px;
    border-top-style: dotted;
    padding: 20px;
    margin: 10px;

}

.box-2 {
    background-image: url('dk.jpg');
    color: rgb(224, 12, 12);
    background-position: top;
    font-weight: bold;

    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    border-width: 6px;
    border-bottom-width: 10px;
    border-top-style: dotted;
    padding: 20px;
    margin: 10px;

}

.box-3 {
    background-image: url('ramones.jpg');
    background-position: top;
    font-weight: bold;

    color: rgb(59, 52, 255);
    background-position: center;
    border-right: 5px rgb(59, 52, 255)solid;
    border-left: 5px rgb(59, 52, 255) solid;
    border-top: 5px rgb(59, 52, 255)solid;
    border-bottom: 5px rgb(59, 52, 255)solid;
    border-width: 6px;
    border-bottom-width: 10px;
    border-top-style: dotted;
    padding: 20px;
    margin: 10px;

}

.box-4 {
    background-image: url('misfits.jpg');
    background-position: top;
    font-weight: bold;
    background-size: cover;

    color: rgb(14, 201, 23);
    background-position: center;
    border-right: 5px rgb(8, 146, 15) solid;
    border-left: 5px rgb(8, 146, 15)solid;
    border-top: 5px rgb(8, 146, 15)solid;
    border-bottom: 5px rgb(8, 146, 15) solid;
    border-width: 6px;
    border-bottom-width: 10px;
    border-top-style: dotted;
    padding: 20px;
    margin: 10px;
}

.box-5 {
    background-image: url(death.jpg);
    background-position: top;
    font-weight: bold;

    color: rgb(255, 81, 0);
    background-position: center;
    border-right: 5px orangered solid;
    border-left: 5px orangered solid;
    border-top: 5px orangered solid;
    border-bottom: 5px orangered solid;
    border-width: 6px;
    border-bottom-width: 10px;
    border-top-style: dotted;
    padding: 20px;
    margin: 10px;
}

.vermelho {
    background-color: red;
    color: white;
}

.azul {
    background-color: rgb(59, 52, 255);
    color: white;
}

.amarelo {
    background-color: rgb(227, 243, 4);
    color: white;
}

.verde {
    background-color: rgb(8, 146, 15);
    color:  white;
}

.laranja {
    background-color: orangered;
    color: white;
}