.container {
    display: grid;
    border: 1px black solid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    column-gap: 10px;
    row-gap: 15px;
    justify-items: stretch;
    align-items: end;
    justify-content: center;
  
}

.tem-1 {
   
    border: 1px red solid;
}

.tem-2 {

    border: 1px blue solid;
}

.tem-3 {
   
    border: 1px green solid;
}

.tem-4 {
  
    border: 1px purple solid;
}

.tem-5 {
  
    border: 1px yellow solid;
}